.about-us {
  padding-top: 25px;
  padding-bottom: 6px;

  @media (min-width: $tablet-width) {
    padding-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 225px;
    padding-top: 32px;
    padding-bottom: 30px;
  }
}

.about-us__header {
  margin-top: 4px;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    margin-top: 26px;
    margin-bottom: 48px;
  }
}

.about-us__list {
  display: grid;
  grid-template-rows: repeat(6, 1fr);

  @include list-reset();

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  @media (min-width: $desktop-width) {
    justify-content: start;
  }
}

.about-us__item {
  position: relative;
  width: 260px;
  padding-top: 54px;
  padding-bottom: 29px;
  font-weight: 700;
  line-height: math.div(20, 17);
}
