.button {
  display: block;
  padding: 14px 10px;
  margin: 0 auto;
  width: 100%;
  max-width: 320px;
  border: 2px solid $font-color-button;
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: math.div(20, 18);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $font-color-button;
  background-color: $bg-color-body;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: math.div(20, 17);
  }

  &--green {
    border-color: $light-green-color;
    color: $color-white;
    background-color: $light-green-color;

    &:hover,
    &:active {
      border-color: $interior-color-hover;
      background-color: $interior-color-hover;
    }
  }
}
