.contacts {
  position: relative;
  padding-top: 17px;
  padding-bottom: 38px;

  @media (min-width: $tablet-width) {
    padding-top: 53px;
    padding-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 62px 58px 104px;
    width: 1050px;
  }
}

.contacts__wrapper {
  padding-bottom: 7px;

  @media (min-width: $desktop-width) {
    margin: 0;
    padding-top: 65px;
    padding-left: 117px;
    width: 518px;
  }
}

.contacts__header {
  position: relative;
  line-height: math.div(30, 18);
  margin: 16px 0 22px 0;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: math.div(50, 43);
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: math.div(57, 53);
  }

  &::after {
    content: "";
    position: absolute;
    display: none;
    top: 21px;
    right: 3px;
    transform: translateY(-50%);
    width: 47px;
    height: 82px;
    background-image: url("../img/icon-flag.svg");
    background-size: image-size("../img/icon-flag.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      display: block;
    }

    @media (min-width: $desktop-width) {
      left: -112px;
      right: auto;
    }
  }
}

.contacts__table {
  max-width: 300px;
  margin-bottom: 24px;
  font-size: 14px;
  line-height: math.div(30, 14);
  color: $font-color-button;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 49px;
    margin-bottom: 43px;
    max-width: 668px;
    font-size: 17px;
    line-height: math.div(30, 17);
  }

  @media (min-width: $desktop-width) {
    margin-top: 36px;
    margin-bottom: 48px;
  }
}

.contacts__term {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 30px;
  width: 45px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.contacts__desc {
  display: inline-block;
  vertical-align: top;
  margin-left: 28px;
  margin-bottom: 30px;
  width: 182px;

  @media (min-width: $tablet-width) {
    margin-left: 21px;
    margin-bottom: 0;
    width: 256px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
    width: 222px;
  }
}

.contacts__map {
  background-color: $bg-color-image;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 68px;
    right: 0;
    margin-bottom: 0;
    width: 530px;
    height: 457px;
  }
}

.contacts__button-wrapper {
  @media (min-width: $desktop-width) {
    margin-left: 118px;
    padding: 0;
    width: 230px;
    min-width: auto;
  }
}

.contacts__button {
  @media (min-width: $tablet-width) {
    width: 230px;
  }
}

.contacts__mail-link {
  padding-bottom: 4px;
  border-bottom: 1px solid $main-light;
  line-height: 30px;
  color: $gray-dark;

  &:hover {
    color: $mail-link--hover;
    border-bottom-color: $mail-link--hover;
  }

  &:active {
    color: $mail-link--hover;
    border-bottom-color: $mail-link--active;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 3px;
  }
}
