.contacts {
  position: relative;
  padding-top: 17px;
  padding-bottom: 38px;

  @media (min-width: $tablet-width) {
    padding-top: 21px;
    padding-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 69px 50px 104px;
    width: 1050px;
  }
}

.contacts__wrapper {
  padding-top: 4px;
  padding-bottom: 7px;

  @media (min-width: $desktop-width) {
    margin: 0;
    padding-top: 27px;
    padding-left: 175px;
    width: 525px;
  }
}

.contacts__header {
  position: relative;
  line-height: math.div(30, 18);
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: math.div(50, 43);
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__table {
  max-width: 300px;
  font-size: 14px;
  line-height: math.div(30, 14);
  color: $font-color-button;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 49px;
    margin-bottom: 49px;
    max-width: 668px;
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 48px;
    margin-bottom: 42px;
  }
}

.contacts__term {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 30px;
  width: 48px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.contacts__desc {
  display: inline-block;
  vertical-align: top;
  margin-left: 28px;
  margin-bottom: 30px;
  width: 182px;

  @media (min-width: $tablet-width) {
    margin-left: 21px;
    margin-bottom: 0;
    width: 257px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
    width: 222px;
  }
}

.contacts__map {
  background-color: $bg-color-image;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 69px;
    right: -20px;
    margin-bottom: 0;
    width: 525px;
    height: 457px;
  }
}

.contacts__button-wrapper {
  @media (min-width: $desktop-width) {
    margin-left: 175px;
    padding: 0;
    width: 230px;
    min-width: auto;
  }
}

.contacts__button {
  @media (min-width: $tablet-width) {
    width: 230px;
  }
}
