.footer {
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: $bg-color-grey;

  @media (min-width: $tablet-width) {
    padding-top: 48px;
    padding-bottom: 46px;
  }
}

.footer__content-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-right: 83px;
  }
}

.footer__copyright {
  margin-top: 14px;
  margin-bottom: 7px;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 184px;
  }
}

.footer__copyright-text {
  font-size: 19px;
  font-weight: 700;
  line-height: math.div(18, 19);
}

.footer__copyright-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0 7px;
  color: $font-color-menu;
  text-decoration: none;
}

.footer__copyright-image {
  margin-left: 30px;
  width: 27px;
  height: 34px;
  fill: $light-green-color;
}
