.form {
  padding-top: 22px;
  padding-bottom: 55px;
}

.form__desc {
  font-size: 13px;
  line-height: math.div(24, 13);
}

.form__list {
  @include list-reset();
}

.form__label {
  font-weight: 700;
  line-height: math.div(18, 17);
}

.form__textarea,
.form__input-text,
.form__input-contacts {
  &::placeholder {
    line-height: math.div(18, 17);
    color: $placeholder-color;
  }
}

.form__label,
.form__legend {
  &--title {
    font-weight: 700;
    text-transform: uppercase;
    line-height: math.div(16, 17);
    color: $light-green-color;
  }
}

.form__notification {
  font-size: 14px;
  line-height: math.div(16, 14);
  color: $font-color-button;
}
