.form {
  padding-top: 17px;
  padding-bottom: 55px;

  @media (min-width: $tablet-width) {
    padding-top: 66px;
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 110px;
  }
}

.form__desc {
  padding: 0 30px;
  margin: 0 auto 28px;
  font-size: 13px;
  line-height: math.div(24, 13);

  @media (min-width: $tablet-width) {
    padding: 0 50px;
    margin-bottom: 8px;
    font-size: 17px;
    line-height: math.div(30, 17);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 7px;
    padding: 0;
    max-width: 700px;
  }
}

.form__block-wrapper {
  &--gray {
    @media (min-width: $tablet-width) {
      background-color: $gray-lightness;
    }
  }
}

.form__fieldset {
  position: relative;
  border: 0;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &--type {
    margin-bottom: 18px;
    padding: 30px 0 10px 0;

    @media (min-width: $tablet-width) {
      margin-bottom: 34px;
      padding-top: 56px;
    }
  }

  &--color {
    margin-bottom: 0;
    padding-top: 53px;
    padding-bottom: 47px;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &--name {
    padding: 51px 0 48px 12px;
  }

  &--contact {
    padding-bottom: 51px;
  }

  &--message {
    padding: 50px 0 16px 0;

    @media (min-width: $tablet-width) {
      padding-bottom: 51px;
    }
  }
}

.form__legend {
  display: block;
  padding: 0;
  width: 100%;
  font-weight: 700;
  line-height: math.div(17, 17);
  color: $light-green-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 0;
    top: 69px;
    width: 100px;
  }

  @media (min-width: $desktop-width) {
    left: 62px;
    top: 74px;
  }

  &--phone,
  &--email {
    margin-bottom: 6px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &--wrapper-gray {
    left: 50px;
    top: 68px;

    @media (min-width: $tablet-width) {
      left: 111px;
    }
  }

  &--email {
    @media (min-width: $tablet-width) {
      top: 143px;
    }
  }
}

.form__legend-text {
  display: flex;
  align-items: center;

  &::after {
    content: "";
    flex-grow: 1;
    margin-left: 25px;
    height: 1px;
    background-color: $light-green-color;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }
}

.form__content-wrapper {
  @media (min-width: $tablet-width) {
    padding-left: 153px;

    &--contacts,
    &--message {
      padding-left: 165px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 175px;
    padding-right: 175px;
  }

  &--type {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $tablet-width) {
      padding-left: 167px;
    }

    @media (min-width: $desktop-width) {
      flex-direction: column;
      padding-left: 176px;
    }
  }

  &--color {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $tablet-width) {
      padding-left: 167px;
      justify-content: space-between;
      align-content: space-between;
      width: 100%;
      min-height: 204px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 145px;
      padding-left: 176px;
      min-height: 128px;
    }
  }
}

.form__input-wrapper {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;

  &--type {
    max-width: 260px;

    @media (min-width: $tablet-width) {
      max-width: 340px;
    }

    &:not(:last-child) {
      @media (min-width: $tablet-width) {
        margin-bottom: 23px;
      }
    }
  }

  &--color {
    margin-bottom: 19px;
    min-width: 240px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      min-width: 203px;
    }
  }

  &--name {
    margin-bottom: 22px;

    @media (min-width: $tablet-width) {
      display: flex;
      align-items: center;
      margin-bottom: 24px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--contact {
    margin-bottom: 32px;

    @media (min-width: $tablet-width) {
      margin-bottom: 24px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form__label,
.form__label-checkbox,
.form__label-radio {
  font-weight: 700;
  font-size: 17px;
  line-height: math.div(18, 17);
  color: $color-black;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    line-height: math.div(19, 17);
  }
}

.form__label {
  display: block;

  @media (min-width: $tablet-width) {
    padding-right: 27px;
  }
}

.form__label-radio {
  position: relative;
  display: block;
  padding-top: 7px;
  padding-bottom: 15px;
  padding-left: 58px;

  @media (min-width: $tablet-width) {
    padding-top: 16px;
    padding-bottom: 17px;
    padding-left: 80px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 36px;
    height: 36px;
    border-width: 2px;
    border-style: solid;
    border-color: $font-color-button;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      top: 0;
      width: 50px;
      height: 50px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    display: none;
    left: 10px;
    top: 10px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: $main-color;

    @media (min-width: $tablet-width) {
      left: 15px;
      top: 14px;
      width: 20px;
      height: 20px;
    }
  }

  &:hover::before {
    border-color: $main-light;
  }

  &:active::before {
    border-color: $color-border;
  }

  .form__radio:checked + &::after {
    display: block;
  }
}

.form__label-checkbox {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 62px;

  @media (min-width: $tablet-width) {
    padding-top: 16px;
    padding-bottom: 17px;
    padding-left: 80px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 36px;
    height: 36px;
    border-width: 2px;
    border-style: solid;
    border-color: $font-color-button;

    @media (min-width: $tablet-width) {
      top: 0;
      width: 50px;
      height: 48px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    display: none;
    left: 9px;
    top: 15px;
    transform: rotate(-45deg);
    width: 20px;
    height: 9px;
    border-left: 2px solid $font-color-button;
    border-bottom: 2px solid $font-color-button;

    @media (min-width: $tablet-width) {
      left: 12px;
      width: 29px;
      height: 14px;
    }
  }

  &:hover::before {
    border-color: $body-color-popup;
  }

  &:active::before {
    border-color: $color-border;
  }

  .form__checkbox:checked + &::after {
    display: block;
  }
}

.form__input-image {
  position: absolute;
  top: 11px;
  fill-opacity: 0.2;

  @media (min-width: $tablet-width) {
    top: 12px;
  }

  &--phone {
    right: 8px;
    width: 25px;
    height: 24px;

    @media (min-width: $tablet-width) {
      right: 26px;
    }

    @media (min-width: $desktop-width) {
      right: 8px;
    }
  }

  &--email {
    right: 4px;
    width: 32px;
    height: 32px;

    @media (min-width: $tablet-width) {
      right: 22px;
    }

    @media (min-width: $desktop-width) {
      right: 4px;
    }
  }
}

.form__input-text {
  box-sizing: border-box;
  padding: 12px 0;
  width: 100%;
  min-height: 52px;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: $color-black;
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  background-color: transparent;
  outline: none;

  @media (min-width: $tablet-width) {
    padding: 12px 16px;
    font-size: 19px;
    line-height: 19px;
  }

  &::placeholder {
    color: inherit;
    opacity: 0.3;
  }

  &:hover,
  &:focus {
    border-color: $main-light;

    + .form__input-image {
      fill-opacity: 1;
      fill: $main-light;
    }
  }
}

.form__submit-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 4px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 175px 2px;
  }
}

.form__textarea {
  display: block;
  margin-top: 3px;
  padding: 15px 14px;
  min-height: 142px;
  border-width: 2px;
  resize: vertical;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.form__notification {
  margin-top: 0;
  font-size: 14px;
  line-height: math.div(16, 14);

  @media (min-width: $tablet-width) {
    order: 1;
    margin-bottom: 0;
    font-size: 17px;
    line-height: math.div(30, 17);
  }
}

.form__button {
  margin-top: 31px;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 230px;
  }
}
