.page {
  box-sizing: border-box;
}

.page__body {
  @include reset;
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: math.div(20, 17);
  color: $font-color-base;
  background-color: $bg-color-body;
}
