.promo-list {
  position: relative;
  width: 100%;

  @include list-reset();

  @media (min-width: $tablet-width) {
    width: 670px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.promo-list__item {
  @media (min-width: $tablet-width) {
    width: 50%;
  }

  &--interior {
    background-color: $interior-color;
    background-image: url("../img/icon-interior.svg");
    background-repeat: no-repeat;
    background-position: bottom 18px right 36px;

    @media (min-width: $tablet-width) {
      background-position: bottom 27px right 36px;
    }
  }

  &--toy {
    background-color: $toy-color;
    background-image: url("../img/icon-toy.svg");
    background-repeat: no-repeat;
    background-position: bottom 22px right 27px;

    @media (min-width: $tablet-width) {
      background-position: bottom 27px right 33px;
    }

    @media (min-width: $desktop-width) {
      background-position: bottom 27px right 35px;
    }
  }
}

.promo-list__link {
  position: relative;
  display: block;
  max-width: 320px;
  margin: 0 auto;
  padding: 26px 30px 32px;
  font-size: 19px;
  font-weight: 700;
  color: $color-white;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 30px 37px 35px;
    font-size: 20px;
    line-height: math.div(30, 20);
  }

  @media (min-width: $desktop-width) {
    max-width: 600px;
  }
}

.promo-list__text {
  display: block;
  max-width: 120px;
}
