.promo-list {
  position: relative;
  width: 100%;

  @include list-reset();

  @media (min-width: $tablet-width) {
    width: 670px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.promo-list__item {
  @media (min-width: $tablet-width) {
    width: 50%;
  }

  &--interior {
    background-color: $interior-color;
  }

  &--toy {
    background-color: $toy-color;
  }
}

.promo-list__link {
  position: relative;
  display: block;
  max-width: 320px;
  margin: 0 auto;
  padding: 26px 30px 32px;
  font-size: 19px;
  font-weight: 700;
  color: $color-white;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 30px 37px 35px;
    font-size: 20px;
    line-height: math.div(30, 20);
  }

  @media (min-width: $desktop-width) {
    max-width: 600px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    opacity: 0.5;
  }

  &--interior {
    &::before {
      background-color: $main-color;
    }

    &::after {
      right: 36px;
      width: 40px;
      height: 62px;
      background-image: url("../img/icon-interior.svg");
      background-size: 40px 62px;
    }
  }

  &--toy {
    &::before {
      background-color: $main-lightness;
    }

    &::after {
      right: 27px;
      width: 60px;
      height: 60px;
      background-image: url("../img/icon-toy.svg");
      background-size: 60px 60px;
    }
  }
}

.promo-list__text {
  display: block;
  max-width: 120px;
}
