.review {
  margin-bottom: 45px;
}

.review__header {
  margin-bottom: 14px;
}

.review__text {
  margin-bottom: 33px;
  font-size: 15px;
  line-height: math.div(30, 15);
  color: $font-color-button;
}

.review__author p {
  margin: 0;
  line-height: math.div(24, 17);
}

.review__author span {
  line-height: math.div(30, 17);
  color: $font-color-button;
}
