.review {
  position: relative;
  padding-top: 15px;
  padding-bottom: 50px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 60px;
    padding-bottom: 127px;
    background-image: url("../img/review@1x.jpg");
    background-size: image-size("../img/review@1x.jpg");
    background-position: left top;
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
    padding-left: 225px;
    padding-bottom: 183px;
    background-position-x: 50px;
  }
}

.review__header {
  margin-top: 4px;
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    margin-top: 22px;
    margin-bottom: 18px;
    max-width: 300px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 28px;
  }
}

.review__content {
  margin: 0;
  padding-top: 3px;
  padding-bottom: 4px;
  line-height: math.div(30, 17);

  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.review__text {
  margin-top: 6px;
  margin-bottom: 33px;
  font-size: 15px;
  line-height: math.div(30, 15);
  color: $font-color-button;

  @media (min-width: $tablet-width) {
    margin-top: 18px;
    margin-bottom: 58px;
    font-size: 17px;
    line-height: math.div(30, 17);
  }

  @media (min-width: $desktop-width) {
    margin-top: 4px;
    margin-bottom: 47px;
    max-width: 810px;
  }
}

.review__author p {
  margin: 0 0 5px 0;
  font-weight: 700;
  line-height: math.div(24, 17);

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: math.div(24, 18);
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
    line-height: math.div(24, 17);
  }
}

.review__author span {
  line-height: math.div(30, 17);
  color: $font-color-button;
}

.review__nav-buttons {
  display: flex;
  justify-content: center;
  margin: 25px auto 38px;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 50px;
    bottom: 134px;
    margin: 0;
    width: 175px;
  }

  @media (min-width: $desktop-width) {
    bottom: 190px;
  }
}

.review__nav-button {
  position: relative;
  padding: 0;
  width: 50%;
  height: 52px;
  border: 1px solid $color-separate;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    border: 0;
  }

  &--backward {
    background-image: url("../img/button-backward.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--forward {
    border-width: 1px 1px 1px 0;

    background-image: url("../img/button-forward.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.review__button {
  @media (min-width: $tablet-width) {
    margin-top: 18px;
    margin-right: 0;
    width: 175px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 24px;
  }
}
