.review {
  margin-bottom: 45px;

  &__header {
    margin-bottom: 14px;
  }

  &__text {
    margin-bottom: 33px;
    font-family: $font-family-normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    color: $font-color-button;
  }

  &__author {
    line-height: 30px;

    p {
      margin: 0;
    }

    span {
      font-family: $font-family-normal;
      font-weight: normal;
      color: $font-color-button;
    }
  }
}
