// stylelint-disable
@use "sass:math";

.section-header {
  margin-top: 31px;
  margin-bottom: 0;
  font-size: 27px;
  line-height: math.div(30, 27);

  &--popup {
    margin-top: 28px;
    margin-bottom: 14px;
  }
}
