.week-goods {
  position: relative;
  padding-top: 26px;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 120px;
    padding-bottom: 60px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 7px;
    background-image: url("../img/zigzag-line.svg");
    background-size: 320px 7px;
    background-position-x: -8px;
    background-repeat: repeat-x;

    @media (min-width: $tablet-width) {
      height: 17px;
      background-size: 768px 17px;
      background-position-x: -20px;
    }

    @media (min-width: $desktop-width) {
      height: 23px;
      background-size: auto 21px;
      background-position-x: -25px;
    }
  }
}

.week-goods__caption {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 7px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 5px 0 5px 20px;
  }
}

.week-goods__header {
  margin-top: 4px;
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    margin: 0;
    max-width: 500px;
  }

  @media (min-width: $desktop-width) {
    order: 2;
    max-width: none;
  }
}

.week-goods__feature {
  font-weight: 700;
  line-height: math.div(20, 17);
  text-transform: uppercase;
  color: $light-green-color;
  margin-top: 4px;
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 127px;
    line-height: math.div(17, 17);
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-right: 30px;
  }
}

.week-goods__content {
  color: $font-color-button;
  position: relative;
  padding-top: 2px;
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    padding-top: 32px;
    padding-right: 378px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 175px;
    padding-right: 582px;
  }
}

.week-goods__desc p {
  font-size: 15px;
  line-height: math.div(24, 15);
  margin-top: 17px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: math.div(30, 17);
    margin-top: 0;
    margin-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.week-goods__list {
  font-size: 15px;
  line-height: math.div(20, 15);
}

.week-goods__price {
  margin-top: 29px;
  margin-bottom: 25px;
  color: $font-color-button;
  font-weight: 700;
  line-height: math.div(24, 17);
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: math.div(24, 20);
    margin-bottom: 32px;
  }
}

.week-goods__img-wrapper {
  margin: 0 auto;
  width: 260px;
  height: 315px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 45px;
    right: 0;
    margin: 0;
    width: 333px;
    height: 404px;
  }

  @media (min-width: $desktop-width) {
    z-index: -1;
    top: -121px;
    width: 525px;
    height: 636px;
  }
}

.week-goods__img {
  margin: 0 auto;
  width: 260px;
  height: 315px;
  overflow: hidden;
  background-color: $bg-color-image;
}

.week-goods__button {
  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.week-goods__table {
  margin-bottom: 28px;
  font-size: 15px;
  line-height: math.div(20, 15);

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 115px;
  }
}
