.wrapper {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  min-width: 320px;
  max-width: 1150px;

  @media (min-width: $tablet-width) {
    padding-left: 50px;
    padding-right: 50px;
  }
}
