// Viewpoints
$mobile-width: 320px;
$mobile-width-only: 769px;
$tablet-width: 770px;
$desktop-width: 1150px;

//Template containers
$mobile-width-wrapper: 480px;
$tablet-width-wrapper: 940px;
$desktop-width-wrapper: 1440px;

// Template colors
$color-white: #ffffff;
$gray-lightness: #f1f1f1;
$gray-light: #ececec;
$gray: #e5e5e5;
$gray-semi: #b3b3b3;
$gray-dark: #444444;
$gray-darken: #231f20;
$color-black: #000000;
$color-background: #f9f9f9;

// Main colors
$main-color: #63d1bb;
$main-light: #62d1ba;
$main-lightness: #56c3b2;
$main-semi: #6bc6b3;
$main-dark: #149080;

// Colors
$bg-color-body: $color-white;
$bg-color-button: $color-white;
$bg-color-button--hover: $gray-dark;
$bg-color-button--active: $gray-dark;
$bg-color-image: $color-background;
$bg-color-grey: $gray-lightness;
$bg-color-icon: rgba(0, 0, 0, 0.2);
$font-color-base: $color-black;
$font-color-button: $gray-dark;
$font-color-button--hover: $color-white;
$font-color-button--active: rgba(255, 255, 255, 0.3);
$font-color-white: $color-white;
$light-green-color: $main-color;
$deep-green-color: $main-lightness;
$border-color-gray: $gray-light;
$placeholder-color: $gray-semi;
$font-color-menu: $color-black;
$font-color-menu--hover: rgba(0, 0, 0, 0.6);
$font-color-menu--active: rgba(0, 0, 0, 0.3);
$color-separate: $gray-light;
$interior-color: $main-color;
$interior-color-hover: #59d5bc;
$toy-color: $main-lightness;
$toy-color-hover: #46c1ae;
$border-color-popup: #c6c6c6;
$body-color-popup: rgba(255, 255, 255, 0.9);
$color-border: rgba(68, 68, 68, 0.1);
$color-boxshadow: rgba(0, 1, 1, 0.25);
