// Template width
$mobile-width: 320px;

// Template fonts
$font-family-bold: "Open Sans Bold", "Verdana", sans-serif;
$font-family-normal: "Open Sans", "Verdana", sans-serif;
$font-size-base: 17px;
$line-height-base: 24px;


// Template colors
$bg-color-body: #ffffff;
$bg-color-image: #f9f9f9;
$bg-color-grey: #f1f1f1;
$font-color-base: #000000;
$font-color-button: #444444;
$font-color-white: #ffffff;
$light-green-color: #63d1bb;
$deep-green-color: #56c3b2;
$border-color-gray: #ececec;
$placeholder-color: #b3b3b3;

